

.navbar{
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  text-align: center;
  padding-bottom: 5px;
  overflow: auto;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-bottom-color: black;
     
}
.commentsection{
  background-color: aqua;
}



a{
  text-decoration: none;
}
a:hover{
  background-color: aqua;
}

.navbar>ul>li{
  display: inline;
  padding-right: 20px;
  align-items: center;
}

.message{  
  margin-left: 40px;
  animation-name: example;
  animation-duration: 3s;
  visibility: hidden;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;opacity: 0;}
  to {visibility: visible}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
